<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador</title>
</head>
<body>
    <h1>EJS is working....</h1>

    <form method="POST" action="/">
        <label>Qual o nome dessa senha?</label>
        <input type="text" name="sistema_html" placeholder="Ex: senha netflix" required />
        <input type="range" min="3" max="30" value="10" name="tamanho_html" required>
        <button>Gerar</button>
    </form>

</body>
</html>