<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de senha</title>
</head>
<body>
    <h1>Gerador de senhas....</h1>
    <label>Qual o nome dessa senha?</label>

    <form method="POST" action="/gerador">
        <div>
            <input type="text" name="nome_html" placeholder="Ex: senha netflix" required />
        </div>
        <br>
        <div>
            <!--<input type="range" min="3" max="30" value="10" name="tamanho_html" required>-->
            <input type="number" name="tamanho_html" placeholder="Ex: quantas letras" min="6" max="30" required />
        </div>
        <br>
            <input type="checkbox" name="minuscula_html" checked><label for="scales">Letra minuscula</label>
            <input type="checkbox" name="maiuscula_html" checked><label for="scales">Letra maiuscula</label>
            <input type="checkbox" name="simbolos_html" checked><label for="scales">Simbolos</label>
            <input type="checkbox" name="numeros_html" checked><label for="scales">numeros</label>
        <br>
            <button>Gerar senha</button>   
    </form>

    <br>
    <br>

    <div>
        <% for(let i = 0; i < myVar_html.length; i++) {%>
            <li>
                <b>Nome:</b>  <%= myVar_html[i].nome %>
                <b>Senha:</b> <%= myVar_html[i].senha %>
                <a href="/resetarget"><button>Apagar</button></a>
            </li>
            <br>
        <% } %>
    </div>

    <button onclick=""></button>
     
    
<script>
    
</script>

</body>
</html>